<!DOCTYPE html>
<head>
    <title>VR Tour</title>
    <link href="/static/css/bootstrap.min.css" type="text/css" rel="stylesheet">
    <link href="/static/css/destinations.css" type="text/css" rel="stylesheet">
    <script src="http://cdn.peerjs.com/0.3/peer.js"></script>
    <script src="/static/css/city.js" type="text/css"></script>
    <script type="text/javascript" src="/static/js/jquery-2.1.4.js"></script>
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
</head>
<body>
    <h2>{{ c }}</h2>
    <h4 id="no_guides">0 number of guides</h4>
    <button id="guide">I'm a tour guide</button>
    <button id="tourist">I'm a tourist</button>
    <div id="tour">
    </div>
</body>
