<!DOCTYPE html>
<html lang="en">
  <head>
    <title>VR Tour</title>

    <link href="/static/css/bootstrap.min.css" type="text/css" rel="stylesheet">
		<link href="/static/css/destinations.css" type="text/css" rel="stylesheet">
		<script src="/static/js/dest.js" type="text/css" rel="stylesheet">
		<script type="text/javascript" src="/static/js/jquery-2.1.4.js"></script>
	</head>





	</div>


	    </div>


	</div>
	<!DOCTYPE html>
	<html lang="en">
	  <head>
			<body>
	    <title>VR Tour</title>

	    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
	    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
		</body>
	  </head>

	  <body>

	    <div class="container">
	      <div class="header">
	        <nav>
	        </nav>
	        <h3 class="text-muted">Tour the world with a local</h3>
	      </div>

	      <div class="jumbotron">
	        <h1>Tour With Me</h1>
	        <p class="lead"></p>
					<div class="container">
						<div class="row">
							<h1>Destinations</h1>
						</div>

					    <div class="row">

					<button id="paris" type="button" class="btn btn-default ribbon">Paris</button>

					<button id="ny" type="button" class="btn btn-primary ribbon">New York</button>

					<button id="rome" type="button" class="btn btn-success ribbon">Rome</button>

					<button id="boston" type="button" class="btn btn-info ribbon">Boston</button>


					<button id="la" type="button" class="btn btn-warning ribbon">L.A</button>


					<button id="hk" type="button" class="btn btn-danger ribbon">Hong Kong</button>




	      </div>

	      <div class="row marketing">

	      </div>

	      <footer class="footer">
	        <p>&copy; Hacktech 2016</p>
	      </footer>

	    </div>
	  </body>
	</html>
