<!DOCTYPE html>
<html lang="en">
  <head>
    <title>VR Tour</title>

    <link href="/static/css/bootstrap.min.css" type="text/css" rel="stylesheet">
		<link href="/static/css/destinations.css" type="text/css" rel="stylesheet">
		<script type="text/javascript" src="/static/js/jquery-2.1.4.js"></script>
        <script>
    function download() {
        $.get({url:"/download"});
    }
        </script>
	</head>





	</div>


	    </div>


	</div>
	<!DOCTYPE html>
	<html lang="en">
	  <head>
			<body>
	    <title>VR Tour</title>

	    <link href="https://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
	    <link href="https://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
		</body>
	  </head>

	  <body>

	    <div class="container">
	      <div class="header">
	        <nav>
	        </nav>
	        <h3 class="text-muted">Tour the world with a local</h3>
	      </div>

	      <div class="jumbotron">
	        <h1>Tour With Me</h1>
	        <p class="lead"></p>
					<div class="container">
						<div class="row">
							<h1>Destinations</h1>
						</div>

					    <div class="row">

					<a id="paris" href="/starttour" class="btn btn-default ribbon">Paris</a>

					<a id="ny" href="/starttour" type="a" class="btn btn-primary ribbon">New York</a>

					<a id="rome" type="a" class="btn btn-success ribbon" href="/starttour">Rome</a>

					<a id="boston" type="a" class="btn btn-info ribbon" href="/starttour">Boston</a>


					<a id="la" type="a" class="btn btn-warning ribbon" href="/starttour">L.A</a>

					<a id="hk" type="a" class="btn btn-danger ribbon" href="/starttour">Hong Kong</a>




	      </div>

	      <div class="row marketing">

	      </div>

	      <footer class="footer">
	        <p>&copy; Hacktech 2016</p>
	      </footer>

	    </div>
	  </body>
	</html>
