<!DOCTYPE html>
<html lang="en">
  <head>
    <title>VR Tour</title>

    <link href="/static/css/bootstrap.min.css" type="text/css" rel="stylesheet">
		<link href="/static/css/endtour.css" type="text/css" rel="stylesheet">
		<script type="text/javascript" src="/static/js/jquery-2.1.4.js"></script>
	</head>
<body background="w3s.png">
  <div class="container">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
  	<h1> End Tour </h1>
    <div class="row">


      <a type="button" class="btn btn-default btn-lg slk" href="/billingpage">I'm finished with my tour!</a>

    </div>


    <br /><br /><br />
  </div>
