<!DOCTYPE html>
<html lang="en">
  <head>

    <title>VR Tour</title>


    <!--<link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    -->
    <link rel="stylesheet" type="text/css" href="static/css/inprogress.css">
  <!--  <link href="http://getbootstrap.com/dist/css/inprogress.css" rel="stylesheet">
  -->
    <!--
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
  -->

  </head>
  <p>I'm a</p>
<b>

  <span1>
    touring<br />
    listening<br />
    learning<br />
    enjoying<br />
    </span1>
</b>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<a class="btn btn-primary btn-outline" href="/endtour"><h4>I've toured, listened, learned and enjoyed!</h4></a>
