<!DOCTYPE html>
<html lang="en">
  <head>
    <body>
    <title>VR Tour</title>

    <link href="/static/css/bootstrap.min.css" type="text/css" rel="stylesheet">
		<link href="/static/css/requests.css" type="text/css" rel="stylesheet">

		<script type="text/javascript" src="/static/js/jquery-2.1.4.js"></script>
    <body>
  </head>
  <body1>

      <div class="container">
          <div class="header">
              <nav>
                  <ul class="nav nav-pills pull-right">
                      <li role="presentation"><a href="/">Home</a>


                      </li>
                  </ul>
              </nav>
              <h3 class="text-muted">Tour With Me</h3>
          </div>

          <div align="center" class="jumbotron">
              <h1>Tourist Requests</h1>
          </div>


      </div>
  </body1>
<div class="container">
    <div class="row">

            <div align="center" class="[ panel panel-default ] panel-google-plus">
                <div class="dropdown">
                    <span class="dropdown-toggle" type="button" data-toggle="dropdown">
                        <span class="[ glyphicon glyphicon-chevron-down ]"></span>
                    </span>
                    <ul class="dropdown-menu" role="menu">

                    </ul>
                </div>

                <div align="center" class="panel-heading">
                    <h3>Robert McIntosh</h3>

                </div>
                <div text-align="center" class="panel-body">
                    <p>Are you interested in giving this person a tour today?</p>
                </div>
                <div class="panel-footer">
                    <button type="button" class="[ btn btn-default ]">Interested!</button>
                    <button type="button" class="[ btn btn-default ]">Not Interested!</button>


                </div>
            </div>
        </div>
    </div>
</div>



</html>
