<!DOCTYPE html>
<html lang="en">
  <head>
    <body>
    <title>VR Tour</title>

    <link href="/static/css/bootstrap.min.css" type="text/css" rel="stylesheet">
		<link href="/static/css/starttour.css" type="text/css" rel="stylesheet">
  </body>
	</head>

<div align="center" class="container">
	<div class="row">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
            <h1>Ready to begin the tour?</h1>
            
            <br>
            <br>
            <br>
            <br>
    	    <a class="btn btn-primary btn-outline" href="/inprogress"><h2>Start tour</h2></a>

        </ul>
	</div>
</div>
