<!DOCTYPE html>
<html lang="en">
  <head>
    <title>VR Tour</title>

    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">

  </head>

  <body>

    <div class="container">
      <div class="header">
        <nav>
        </nav>
        <h3 class="text-muted">Tour the world with a local</h3>
      </div>

      <div class="jumbotron">
        <h1>Tour in VR</h1>
        <p class="lead"></p>
        <p><a class="btn btn-lg btn-success" href="login" role="button">Sign up</a>
        <a class="btn btn-lg btn-success" href="signup" role="button">Sign in</a></p>
      </div>

      <div class="row marketing">
        <div class="col-lg-6">
          <h4>Bucket List</h4>
          <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

        </div>

        <div class="col-lg-6">
          <h4>Bucket List</h4>
          <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

        </div>
      </div>

      <footer class="footer">
        <p>&copy; Hacktech 2016</p>
      </footer>

    </div>
  </body>
</html>
