<!DOCTYPE html>
<html lang="en">
  <head>
    <title>VR Tour</title>

    <link href="/static/css/bootstrap.min.css" type="text/css" rel="stylesheet">
		<link href="/static/css/starttour.css" type="text/css" rel="stylesheet">

	</head>

<div align="center" class="container">
	<div class="row">
        <br>
            <h1>Ready to begin the tour ?</h1>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
    	    <a class="btn btn-primary btn-outline"><h2>Start Tour!</h2></a>

        </ul>
	</div>
</div>
