<!DOCTYPE html>
<html lang="en">
  <head>
    <title>VR Tour</title>

    <link href="/static/css/bootstrap.min.css" type="text/css" rel="stylesheet">
    <link href="/static/css/tourguidelist.css" type="text/css" rel="stylesheet">
		<script type="text/javascript" src="/static/js/jquery-2.1.4.js"></script>
	</head>

	  <body>

	    <div class="container">
	      <div class="header">
	        <nav>
	        </nav>
	        <h3 class="text-muted">Tour the world with a local</h3>
	      </div>


					<div align="center" class="container">
						<div class="row">
							<h1>Tour Guides</h1>
						</div>

					    <div class="row">

					<button type="button" class="btn btn-default ribbon">Mr. Fox</button>

					<button type="button" class="btn btn-primary ribbon">Harry Potter</button>

					<button type="button" class="btn btn-success ribbon">Santa</button>

					<button type="button" class="btn btn-info ribbon">The Easter Bunny</button>







	      </div>

	      <div class="row marketing">

	      </div>

	      <footer class="footer">
	        <p>&copy; Hacktech 2016</p>
	      </footer>

	    </div>
	  </body>
	</html>
